:root { /* root says this variable is globally valid for all*/
    --headerFooterColor: #00303f; /* "--var_name : value" is format for declaring the CSS variable*/
    --jumbatronColor : #dcae1d;
    --elementsColor: rgb(235, 232, 232);
  }


body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8; 
}

.customPageHeaderFooter {
    background-color: var(--headerFooterColor); /* var(--Css_Var_Name) is format for using it */
    font-family: Montserrat, sans-serif; 
    font-size: 14px;
}

.customPageHeaderFooter>#navbarSupportedContent { 
    font-size: 17px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: white;
}


li>a:hover
{
    color: var(--jumbatronColor);
}

.formNav {
    color: white !important;
}

.jumbotron{
    /*background-color: #009e73;*/
    background-color: var(--jumbatronColor);
    font-family: Montserrat, sans-serif;        
} 

#inputSearch::placeholder {
    font-size:15px;
  }

.card>img
{
    height:200px !important;  
    width:100% !important ;      
}

.card>.card-header{
    background-color: lightsteelblue;
}

.dropdown-menu>.dropdown-item
{
    background-color: white !important;
    color: black !important;
}

.dropdown-menu>.dropdown-item:hover
{
    background-color: var(--headerFooterColor) !important ;
    color: white !important;
}

.moreDetails{
    background-color: var(--headerFooterColor);
    color:white;
    font-size: 12px !important;
}
.moreDetails:hover{
    background-color: rgb(235, 232, 232);
    color:black;
}

.cart:hover{
   background-color: var(--headerFooterColor);
   color:white;
}

.cart{
    background-color: var(--elementsColor);
    font-size: 13px !important;
}
section>a{
    color: white !important;  
}

section>a:hover{
    color: var(--jumbatronColor) !important;  
    text-decoration: none;
}
