:root { /* root says this variable is globally valid for all*/
    --headerFooterColor: #164951; /* "--var_name : value" is format for declaring the CSS variable*/
    --elementsColor: #c7dee0bd;
    --buttonColor: #86b5a185; /* rgba(144, 135, 85, 0.42);*/
  }


body { /* this css is applicable for whole body */
    font: 400 15px Lato, sans-serif;
    line-height: 1.8; 
}

.customPageHeaderFooter { /* Contains properties common for header and footer */
    background-color: var(--headerFooterColor); /* old color #760f27;*/
    font-family: Montserrat, sans-serif; 
    font-size: 14px;
}

.customPageHeaderFooter>#navbarSupportedContent { 
    font-size: 17px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: white;
}

li>a:hover
{
    color: var(--elementsColor);
}

.formNav {
    color: white !important;
}

.jumbotron{   
    font-family: Montserrat, sans-serif;   
    background-image: linear-gradient(-4deg, rgba(195, 227, 124, 0.99), rgba(86, 138, 127, 0.49));   
} 

#inputSearch::placeholder {
    font-size:15px;
  }

.card>img
{
    height:200px !important;    
}

.dropdown-menu>.dropdown-item
{
    background-color: white !important;
    color: black !important;
}

.dropdown-menu>.dropdown-item:hover
{
    background-color: var(--headerFooterColor) !important ;
    color: white !important;
}

.star{
    font-size: 13px;
}

.moreDetails{
    background-color: var(--buttonColor);
    color:black;
    font-size: 13px !important;
}

.moreDetails:hover{
    background-color: #b9d1c685;
    color:black;
}

.cart:hover{
   background-color: #b9d1c685;
   color:black;
}

.cart{
    background-color: var(--buttonColor);
    color:black;
    font-size: 13px !important;
}

.loginForm{
    background-color: #86B5A185;
}

.loginLink{
    color:#105d69;
}

section>a, section>u, section>span, section>i{
    color: white !important;  
}

section>a:hover{
    color: var(--elementsColor) !important;  
    text-decoration: none;
}
