body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8; 
}

.navbar {
    background-color: #f4511e;
    font-family: Montserrat, sans-serif;
    font-size: 17px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: white;
}

.formNav {
    color: white;
}

.jumbotron{
    background-color: #f4511e;
    font-family: Montserrat, sans-serif;        
} 

.card-body>img
{
    height:300px !important;    
}

.dropdown-menu>.dropdown-item
{
    background-color: white !important;
    color: black !important;
}

.dropdown-menu>.dropdown-item:hover
{
    background-color: #f4511e ;
    color: white;
}
